/* HEADER */

.header {
  text-align: center;
}

.header h1 {
  font-size: 5.2rem;
  letter-spacing: 0.75px;
}

.header p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

/* MAIN */

/* TEAM SECTION */

.team__section {
}

.team__card {
  display: flex;
  align-items: center;
  background-color: #555;
}

.team__card-img img {
  display: block;
}

.team__card-details {
  font-size: 1.6rem;
  color: #fff;
  padding: 0 0.8rem;
}

.team__card h3 {
  font-size: 1.8rem;
}

.team__card p {
}

.team__card a {
  color: inherit;
}
